@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rowdies:wght@300&family=Sacramento&display=swap');

body::-webkit-scrollbar { /* CSS scrollbar del body*/
	width: 4px;               
}body::-webkit-scrollbar-track {
	background: #e0ecff;        
    border-radius: 10px;
}body::-webkit-scrollbar-thumb {
    background-color: #8797ff;
    border-radius: 10px;
}

/**Fondo Principal**/
.FondoGalactico{
	background: rgba(0, 0, 0, 0.7) url(https://www.10wallpaper.com/wallpaper/1366x768/1602/Planets_space_stars-Latest_Desktop_Wallpaper_1366x768.jpg) no-repeat center fixed; 
    background-size: cover;
    background-blend-mode: darken;
}

/**Fondos Secundarios**/
.FondoObscuro{
	background: rgba(0, 0, 0, 0.7) url(https://images.pexels.com/photos/1567069/pexels-photo-1567069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode: darken;
}



/**Logo**/
.space{
	color: #174C4F;
}.songs{
	color: #FF9666;
}


/**Iconos**/
.Play{
    color: #caf2fd;
    font-size: 2rem;
    cursor: pointer;
}.Play:hover{
    color: #8797ff;
}.R-Icon{
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer;
}.R-Icon:hover{
    color: #8797ff;
}


/**Margenes**/
.Margen-0{
	margin: 0;
}.Margen-1{
    margin: 40px 10px;
}


/**Bordes**/
.BordeBlanco{
    border: 2px solid #ffffff;
    border-radius: 10px;
}


/**Contenedores**/
.ContenedorFull{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}.ContenedorGrid{
	height: 100vh;
	display: grid;
	grid-template-columns: 30% 70%;
}.ContenedorMusicas{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
}


/**Clases del Reproductor**/
.ReproductorActivado{
    height: 70px;
    border-top: 2px solid #ffffff;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #e3ebfe;
    bottom: 0;
    left: 0;
    right: 0;
}.ReproductorDesactivado{
    display: none;
}


/**Fuentes**/
.FuentePrincipal{
	font-family: 'Rowdies', cursive;
}.FuenteSecundaria{
	font-family: 'Sacramento', cursive;
}.FuenteParrafos{
	font-family: 'Quicksand', sans-serif;
}



/**Alineaciones**/
.TotalCenter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



/**Linea**/
.Linea{
    border: none;
    border-top: 3px solid white;
    margin: 5px 0px 20px;
}



/**Inputs de Formularios**/
.CampoFormulario{
    border: 3px solid #e5d1fd;
    padding: 10px;
    width: 60vw;
    font-family: 'Quicksand', sans-serif;
}.CampoFormulario:focus{
    outline: none;
    border-color: #a1cafb;
    background-color: #dff2fd;
}



/**Contenedor Principal y Reproductor Modal al inicio**/
#Main{
    display: none;
}#Modal{
    display: none;
}


/******Reproductor en Modal******/
/**Imagen de Portada**/
.ImgPortada{
    height: 50vh;
    border-radius: 50%;
    margin: 20px 0px;
}
/**Boton Play/Pause**/
#PlayBarra{
    display: none;
    font-size: 3rem;
    color: #ffffff;
    margin-top: 15px;
    cursor: pointer;
}#PauseBarra,
#IconMinimizar{
    font-size: 3rem;
    color: #ffffff;
    margin-top: 15px;
    cursor: pointer;
}
#PlayBarra:hover,
#PauseBarra:hover,
#IconMinimizar:hover{
    color: #8797ff;
}
/**CSS de la barra de reproduccion**/
.Barra {
    height: 10px;
    width: 40vw;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    cursor: hand;
    background: #dbecff;
}#AudioBarra{
    display: none;
}.Opciones{
    width: 40vw;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    justify-content: center;
}



/**Columnas para Acceder a 'Reproductor Modal'**/
#Acceso1,
#Acceso2{
    cursor: pointer;
    height: 100%;

}#PlayReproductor{
    display: none;
}



/*Estilo de Boton Secundario*/
.boton{
    font-family: verdana;
    background-color: #ff9933;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #7279f9;
}.boton:hover{
    background-color: #c8ddfc;
}


/*Contenedor del formulario de Registro*/
.registroForm{
    display: none;
}

/*Opciones de para cambiar de formulario
L-C: de Login a Crear Cuenta (vicebersa)*/
.change_L-C{
    cursor: pointer;
    color: #c3d9fd;
}
.slider-img{
    max-height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.center{
    justify-content: center!important;
    align-self: center!important;
}
h3{
    font-size: 4em;
}