@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Rowdies:wght@300&family=Sacramento&display=swap');

body::-webkit-scrollbar { /* CSS scrollbar del body*/
	width: 4px;               
}body::-webkit-scrollbar-track {
	background: #e0ecff;        
    border-radius: 10px;
}body::-webkit-scrollbar-thumb {
    background-color: #8797ff;
    border-radius: 10px;
}

/**Fondo Principal**/
.FondoGalactico{
	/*Atributos*/
}

/**Fondos Secundarios**/
.FondoObscuro{
	background-color: #000000;
	color: white;
}



/**Logo**/
.space{
	color: #174C4F;
}.songs{
	color: #FF9666;
}


/**Iconos**/
.Play{
    color: #caf2fd;
    font-size: 2rem;
    cursor: pointer;
}.Play:hover{
    color: #8797ff;
}.R-Icon{
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer;
}.R-Icon:hover{
    color: #8797ff;
}


/**Margenes**/
.Margen-0{
	margin: 0;
}.Margen-1{
    margin: 40px 10px;
}


/**Bordes**/
.BordeBlanco{
    border: 2px solid #ffffff;
    border-radius: 10px;
}


/**Contenedores**/
.ContenedorFull{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}.ContenedorGrid{
	height: 100vh;
	display: grid;
	grid-template-columns: 30% 70%;
}.ContenedorMusicas{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
}
.registroForm{
    display: none;
}


/**Clases del Reproductor**/
.ReproductorActivado{
    height: 70px;
    border-top: 2px solid #ffffff;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #e3ebfe;
    bottom: 0;
    left: 0;
    right: 0;
}.ReproductorDesactivado{
    display: none;
}


/**Fuentes**/
.FuentePrincipal{
	font-family: 'Rowdies', cursive;
}.FuenteSecundaria{
	font-family: 'Sacramento', cursive;
}.FuenteParrafos{
	font-family: 'Quicksand', sans-serif;
}



/**Alineaciones**/
.TotalCenter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}







/*Estilo de Boton Secundario*/
.boton{
    font-family: verdana;
    background-color: #ff9933;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #7279f9;
}


/*Contenedor del formulario de Registro*/
.registroForm{
    display: none;
}

/*Opciones de para cambiar de formulario
L-C: de Login a Crear Cuenta (vicebersa)*/
.change_L-C{
    cursor: pointer;
    color: #c3d9fd;
}